form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}

.button-wrapper {
	width: 20rem;
}

.settings-page-container {
	display: grid;
	grid-template-columns: auto auto;
	gap: 1rem;
	padding: 1rem;
}

@media (max-width: 1024px) {
	.settings-page-container {
		grid-template-columns: auto;
	}
}

.settings-page-container > div {
	padding: 2rem;
}
